.card-body{
  border: 3px solid #256fcf;
  // box-shadow: 0px 2px 9px 3px rgba(50, 63, 75, 0.06);
  // border-radius: 8px;
  box-sizing: border-box;

position: fixed;
left: 68.26%;
right: 10.35%;
top: 24.12%;
bottom: 57.41%;

background: #FFFFFF;
border: 0.836957px solid #da2020;
// box-shadow: 0px 1.67391px 7.53261px 2.51087px rgba(50, 63, 75, 0.06);
border-radius: 6.69565px;


}


